
<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thực tập cơ sở</title>
     <link rel="stylesheet" th:href="@{/login/css/header.css}">
    <link rel="stylesheet" th:href="@{/login/css/content.css}">
    <link rel="stylesheet" th:href="@{/login/css/base.css}">
    <link rel="stylesheet" th:href="@{/login/css/grid.css}">
    <link rel="stylesheet" th:href="@{/login/css/responsive.css}">
    <link
        rel="stylesheet"
        type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
      />
    <link rel="stylesheet" th:href="@{/loginclient/font/fontawesome-free-5.15.3-web/fontawesome-free-5.15.3-web/css/all.min.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="app">
        <!-- Header -->
      <div th:insert="login :: header"></div>
        <div class="content__search-form">
        	<form  th:action="@{/register}" th:object="${user}"  method="post" id="form-1">
            
                <div class="form-heading ">
                    <h3 class="heading-login">Đăng Ký</h3>
                </div>
                <div class="spacer"></div>
                <div class="form-body">
                    <div class="form-group">
                        <label for="username" class="form-label">Tên đầy đủ</label>
                        <input id="username" name="username" type="text" placeholder="VD: Nguyễn Văn A" class="form-control">
                        <span class="form-message"></span>
                        <div id="msg"></div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="form-label">Email</label>
                        <input id="email" name="email" type="text" placeholder="VD:NguyenVanA@gmail.com" class="form-control" th:field="*{email}">
                         <span class="alert alert-danger has-error"  th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                        
                    </div>

                    <div class="form-group">
                        <label for="phone" class="form-label">Phone Number</label>
                        <input id="phone" name="phone" type="text" placeholder="VD:0988888888" class="form-control" th:field="*{phone}">
                         <span class="alert alert-danger has-error"  th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
                        
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label">Mật Khẩu </label>
                        <input id="exampleInputPassword" name="password" type="password" placeholder="*********" class="form-control">
                        <span class="form-message"></span>
                    </div>
                     <div class="form-group">
                          <input type="hidden" class="form-control form-control-user" id="exampleInputEmail" value="ROLE_MEMBER" name="role"  >
                     </div>
                    <div class="form-group">
                        <label for="password" class="form-label"> Nhập lại Mật Khẩu </label>
                        <input id="exampleRepeatPassword"  type="password" placeholder="*********" class="form-control">
                        <span class="form-message"></span>
                    </div>
                 
                </div>
                <button type="submit" class="form-submit" value="Register" >Register</button>
                 
            </form>
        </div>
      
        <!-- footer -->
       <div th:insert="login :: footer"></div>
    <script th:src="@{/login/js/ttcs.js}"></script>
   

    <script >
    var password= document.getElementById("exampleInputPassword");
    var confirm_password= document.getElementById("exampleRepeatPassword");
    
    function validatePassword(){
    	if(password.value != confirm_password.value){
    		confirm_password.setCustomValidity("Password don't match");
    	}
    	else{
    		confirm_password.setCustomValidity('');
    	}
    }
    password.onchage= validatePassword;
    confirm_password.onkeyup= validatePassword;
    
    
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>
	
	<script type="text/javascript">
	jQuery.fn.extend({
	    disable: function(state) {
	        return this.each(function() {
	            this.disabled = state;
	        });
	    }
	});
		$(document).ready(function() {
			$("#username").on("input", function(e) {
				$('#msg').hide();
				if ($('#username').val() == null || $('#username').val() == "") {
					$('#msg').show();
					$("#msg").html("Username is a required field.").css("color", "red");
					$('input[type="submit"], input[type="button"], button').disable(true);
				} else {
					$.ajax({
						type: 'post',
						url: "/user",
						data: JSON.stringify({username: $('#username').val()}),
						contentType: 'application/json; charset=utf-8',
						cache: false,
						beforeSend: function (f) {
							$('#msg').show();
							$('#msg').html('Checking...');
						},
						statusCode: {
						    500: function(xhr) {
						    	$('#msg').show();
						    	$("#msg").html("Username available").css("color", "green");
						    	$('input[type="submit"], input[type="button"], button').disable(false);
						    }
						},
						success: function(msg) {
							$('#msg').show();
							if(msg !== null || msg !== "") {
								$("#msg").html("Username already taken").css("color", "red");
								$('input[type="submit"], input[type="button"], button').disable(true);
							} else {
								$("#msg").html("Username available").css("color", "green");
								$('input[type="submit"], input[type="button"], button').disable(false);
							}
						},
						error: function(jqXHR, textStatus, errorThrown) {
							$('#msg').show();
							$("#msg").html(textStatus + " " + errorThrown).css("color", "red");
						}
					});
				}
			});
		});
	</script>
    
</body>

</html>